.App {
  font-family: sans-serif;
  text-align: center;
}
.App > button{
  padding: 15px 50px;
  background-color:darkorange;
  border: none;
  border-radius: 20px;
}
#count{
   margin-left: 20px;
   margin-right: 20px;
   font-weight: bold;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 25px;
}
#parent{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
  padding: 40px;
}
#parent > div{
  width: 200px;
  height: 200px;
margin-bottom: 10px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
padding: 10px;

}
#title{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
}